{{- /*
A shortcode for displaying a feature card.

@param {string} title The title of the card.
@param {string} subtitle The subtitle of the card.
@param {string} class The class of the card.
@param {string} image The image of the card.
@param {string} imageClass The class of the image.
@param {string} style The style of the card.
@param {string} icon The icon of the card.
@param {string} link The link of the card.

@example {{< hextra/feature-card title="Feature Card" subtitle="This is a feature card." >}}
*/ -}}

{{- $title := .Get "title" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $class := .Get "class" -}}
{{- $image := .Get "image" -}}
{{- $imageClass := .Get "imageClass" -}}
{{- $style := .Get "style" -}}
{{- $icon := .Get "icon" -}}
{{- $link := .Get "link" -}}

{{/* Image processing options */}}
{{- $method := .Get "method" -}}
{{- $options := .Get "options" -}}
{{- $process := .Get "process" -}}

{{- $imageProcessing := partial "utils/process-image.html" (dict
  "image"   $image
  "page"    .Page
  "process" $process
  ) -}}

  {{- partial "shortcodes/hextra/feature-card" (dict
  "title"       $title
  "subtitle"    $subtitle
  "class"       $class
  "image"       $imageProcessing.image
  "imageClass"  $imageClass
  "style"       $style
  "icon"        $icon
  "link"        $link
  )
-}}