
{{/* Image processing options */}}
{{- $image := .image -}}
{{- $page := .page -}}
{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $process := .process -}}

{{- if and $image (not (urls.Parse $image).Scheme) -}}
  {{- with or ($page.Resources.Get $image) (resources.Get $image) -}}
    {{/* .Process does not work on svgs */}}
    {{- if (not (eq .MediaType.SubType "svg")) -}}
      {{/* Retrieve the $image resource from local or global resources */}}
      {{- $processed := .Process $process -}}
      {{- $width = $processed.Width -}}
      {{- $height = $processed.Height -}}
      {{- $image = $processed.RelPermalink -}}
    {{- end -}}
  {{ else }}
    {{/* Otherwise, use relative link of the image */}}
    {{- if hasPrefix $image "/" -}}
      {{- $image = relURL (strings.TrimPrefix "/" $image) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (dict "image" $image "width" $width "height" $height) -}}