{{- /*
A shortcode to create a card.

@param {string} link The link to the card.
@param {string} title The title of the card.
@param {string} icon The icon of the card.
@param {string} subtitle The subtitle of the card.
@param {string} tag The tag of the card.
@param {string} tagColor The color of the tag.
@param {string} image The image of the card.
@param {string} method The method to process the image.
@param {string} options The options to process the image.
@param {string} imageStyle The style of the image.

@example {{< card link="/" title="Image Card" }}
*/ -}}

{{- $link := .Get "link" -}}
{{- $title := .Get "title" -}}
{{- $icon := .Get "icon" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $image := .Get "image" -}}
{{- $imageStyle := .Get "imageStyle" -}}
{{- $tag := .Get "tag" -}}
{{- $tagColor := .Get "tagColor" | default (.Get "tagType") | default "" -}}{{- /* Compatibility with previous parameter. */ -}}

{{/* Image processing options */}}
{{- $method := .Get "method" -}}
{{- $options := .Get "options" -}}
{{- $process := .Get "process" -}}

{{- $imageProcessing := partial "utils/process-image.html" (dict
  "image"   $image
  "page"    .Page
  "method"  $method
  "options" $options
  "process" $process
  ) -}}

{{- partial "shortcodes/card" (dict
  "link"        $link
  "title"       $title
  "icon"        $icon
  "subtitle"    $subtitle
  "image"       $imageProcessing.image
  "width"       $imageProcessing.width
  "height"      $imageProcessing.height
  "imageStyle"  $imageStyle
  "tag"         $tag
  "tagType"     $tagColor
  )
-}}
